gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks




# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*

# macOS/Windows/Linux
macos/Flutter/GeneratedPluginRegistrant.swift

# Web
build/

# IDE
.idea/
.vscode/
*.iml

# 기타
*.log
*.lock
*.tmp
